.board-and-btn{
    position: relative;
}

.board-and-btn button{
    position: absolute;
    width: 50px;
    right: 0px;
    top: 0px;
}

.input-board{
    background: rgb(232, 232, 229);
    border-radius: 5px;
}