.message-board-container{
    position: relative;
    width: 1500px;
}

.post-visitor-message-container{
    position: relative;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, 0);
}

.visitor-message-list{
    position: relative;
    width: 1400px;
    padding: 2px;
    
}

.p-visitor-name{
    position: absolute;
    width: 50px;
    margin-left: 10px;
    left: 50px;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: bold;
    word-break: break-all;
}

.p-v-message{
    position: relative;
    left: 120px;
    width: fit-content;
    cursor: pointer;
}

.v-remove-b{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}