.all-content-with-layout{
    position: relative;
    width: fit-content;
    min-width: 100%;
}

.top_layout {
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(75, 133, 221);
}

.top_link {
    margin: 10px;
    border-radius: 5px;
    background: rgb(233, 231, 231);
    cursor: pointer;
    padding: 5px;
    position: relative;
}

.top_link:hover {
    background-color: #dded81;
  }

.main_layout {
    position: relative;
    display: flex;
    justify-content: center;
    background: rgb(174, 205, 252);
}

.main_link {
    margin: 10px;
    border-radius: 5px;
    background: rgb(233, 231, 231);
    cursor: pointer;
    padding: 5px;
    position: relative;
}

.main_link:hover {
    background-color: #dded81;
  }

.container_main_btn{
    cursor: pointer;
    color: rgb(85, 26, 139);
    text-decoration: underline;
}